@use '../custom' as *;
.section-3 {
    .section-3-header {
        p:nth-child(1){
            @include media-breakpoint-down(xl){
                font-size: 24px;
            }
            font-size: 32px;
            color: $color-1;
            font-weight: bold;
        }
        p:nth-child(2){
            @include media-breakpoint-down(xl){
                font-size: 18px;
            }
            font-size: 24px;
            text-align: center;
            color: $color-1;
        }
        p:nth-child(3){
            @include media-breakpoint-down(xl){
                font-size: 18px;
            }
            font-size: 24px;
            text-align: center;
            color: $color-1;
        }
    }
    .section-3-content-header{
        font-size: 20px;
        color: $color-1;
        font-weight: bold;
        @include media-breakpoint-up(xl){
            font-size: 28px;
        }
    }
    .text-uppercase {
    }
    .text-center {
    }
    .row {
    }
    .col-sm-4 {
        img{
            width: 100px;
            height: 100px;
        }
        p:nth-child(n+3){
            color: $color-2;
            @include media-breakpoint-up(xl){
                font-size: 24px;
            }
        }
    }
}

